# Rust build artifacts
/target/
**/*.rs.bk
Cargo.lock

# Database files
.github-db/

# Certificates
*.cert
*.key

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test artifacts
*.blob
*.tmp

# Release binaries
github-db-*
github-db

# Setup Files
./setup.sh


# Ignore the certs in any .github-db directory
.github-db/certs/**.cert
.github-db/certs/**.key